<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ rubric.name }}</title>
</head>
<body>
<p>Текущая рубрика: {{ rubric.name }}</p>
<p><a href="{% url 'index' %}">На главную</a></p>
{% for post in posts %}
<div>
    <h2><a href="{% url 'post' pk=post.pk %}">{{ post.title }}</a></h2>
    <p>Выложил(а): {{ post.user.nickname }} ({{ post.user.name }})</p>
    <p>Тема: {{ post.rubric.name }}</p>
    <p>Дата последнего редактирвания: {{ post.edited_time|date:"d.m.Y H:i:s" }}</p>
</div>
{% endfor %}
</body>
</html>